.breadcrumbs.solideee
  .breadcrumbs__style
    - breadcrumb :user_show
    = breadcrumbs separator: " #{content_tag(:i, '', class:'fas fa-chevron-right')} "
%main
  .container
    .content-mypage-detail
      .profile-box
        = link_to '#', class: 'profile-box__link' do
          = image_tag "//static.mercdn.net/thumb/members/710038589.jpg?1552921963"
          %h2.profile-box__link__name
            名前
          .profile-box__link__number
            .profile-box__link__number__reviews
              評価
              %span
                2
            .profile-box__link__number__items
              出品数
              %span
                2
      .review-box
        .review-box__icon.review-box__icon--good
          %i.fas.fa-laugh
          .review-box__icon__number
            2
        .review-box__icon.review-box__icon--normal
          %i.fas.fa-meh
          .review-box__icon__number
            2
        .review-box__icon.review-box__icon--bad
          %i.fas.fa-frown
          .review-box__icon__number
            2
      .user-introduction-box
        %p
          ご覧頂きありがとうございます(^^)
          未使用品などを中心に売っています。
          皆様と気持ちの良い誠意のある取引ができるよう頑張りますので宜しくお願い致します(^^)
      .social-media-box
        %ul.social-media-box__lists
          %li.social-media-box__lists__icon.social-media-box__lists__icon--facebook
            = link_to "#" do
              %i.fab.fa-facebook-square
          %li.social-media-box__lists__icon.social-media-box__lists__icon--twitter
            = link_to "#" do
              %i.fab.fa-twitter
          %li.social-media-box__lists__icon.social-media-box__lists__icon--line
            = link_to "#" do
              %i.fab.fa-line
      .item-box-container
        %h2.item-box-head
          この出品者の商品
        .item-box-content
          .item-box
            = link_to "#", class: 'item-box__link' do
              %figure.item-box__link__photo
                = image_tag "https://static.mercdn.net/thumb/photos/m60628150291_1.jpg?1558763907"
              .item-box__link__body
                %h2.item-box__link__body__name
                  johnbull カーキカーゴパンツ
                .item-box__link__body__number
                  .item-box__link__body__number__price
                    ¥1,200
                  %i.far.fa-heart
                  %span.item-box__link__body__number__like
                    2
                .item-box__link__body__tax
                  (税込)
          .item-box
            = link_to "#", class: 'item-box__link' do
              %figure.item-box__link__photo
                = image_tag "https://static.mercdn.net/thumb/photos/m60628150291_1.jpg?1558763907"
              .item-box__link__body
                %h2.item-box__link__body__name
                  johnbull カーキカーゴパンツ
                .item-box__link__body__number
                  .item-box__link__body__number__price
                    ¥1,200
                  %i.far.fa-heart
                  %span.item-box__link__body__number__like
                    2
                .item-box__link__body__tax
                  (税込)
          .item-box
            = link_to "#", class: 'item-box__link' do
              %figure.item-box__link__photo
                = image_tag "https://static.mercdn.net/thumb/photos/m60628150291_1.jpg?1558763907"
              .item-box__link__body
                %h2.item-box__link__body__name
                  johnbull カーキカーゴパンツ
                .item-box__link__body__number
                  .item-box__link__body__number__price
                    ¥1,200
                  %i.far.fa-heart
                  %span.item-box__link__body__number__like
                    2
                .item-box__link__body__tax
                  (税込)
          .item-box
            = link_to "#", class: 'item-box__link' do
              %figure.item-box__link__photo
                = image_tag "https://static.mercdn.net/thumb/photos/m60628150291_1.jpg?1558763907"
              .item-box__link__body
                %h2.item-box__link__body__name
                  johnbull カーキカーゴパンツ
                .item-box__link__body__number
                  .item-box__link__body__number__price
                    ¥1,200
                  %i.far.fa-heart
                  %span.item-box__link__body__number__like
                    2
                .item-box__link__body__tax
                  (税込)
          .item-box
            = link_to "#", class: 'item-box__link' do
              %figure.item-box__link__photo
                = image_tag "https://static.mercdn.net/thumb/photos/m60628150291_1.jpg?1558763907"
              .item-box__link__body
                %h2.item-box__link__body__name
                  johnbull カーキカーゴパンツ
                .item-box__link__body__number
                  .item-box__link__body__number__price
                    ¥1,200
                  %i.far.fa-heart
                  %span.item-box__link__body__number__like
                    2
                .item-box__link__body__tax
                  (税込)
          .item-box
            = link_to "#", class: 'item-box__link' do
              %figure.item-box__link__photo
                = image_tag "https://static.mercdn.net/thumb/photos/m60628150291_1.jpg?1558763907"
              .item-box__link__body
                %h2.item-box__link__body__name
                  johnbull カーキカーゴパンツ
                .item-box__link__body__number
                  .item-box__link__body__number__price
                    ¥1,200
                  %i.far.fa-heart
                  %span.item-box__link__body__number__like
                    2
                .item-box__link__body__tax
                  (税込)
