%body
  %main.devise__container
    %header.devise__header
      %h1
        =link_to new_user_registration_path do
          = image_tag 'logo.svg', height:'49px'
      %nav.progress-bar.signup-bar
        %ol.clearfix
          %li.active
            会員情報
            .after_3
          %li
            電話番号認証
            .progress-status
          %li
            お届け先住所入力
            .progress-status
          %li
            支払い方法
            .progress-status
          %li
            完了
            .before
    %main.devise__main
      %section.l__devise__container
        %h2.l__devise__head 会員情報入力
        = form_for(  resource, as: resource_name, url: registration_path(resource_name) ) do |f|
          .l__devise__content
            = render "devise/shared/error_messages", resource: resource
            .field
              = f.label :nickname,"ニックネーム", class:"form-group-label"
              %span.form-require 必須
              %br/
              = f.text_field :nickname, autofocus: true, autocomplete: "nickname" ,placeholder:"例）メルカリ太郎",class: "input-default"
            .field
              = f.label :email,"メールアドレス", class:"form-group-label"
              %span.form-require 必須
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "nickname" ,placeholder:"PC・携帯どちらでも可",class: "input-default"
            .field
              = f.label :password ,"パスワード", class:"form-group-label"
              %span.form-require 必須
              %br/
              = f.password_field :password, autocomplete: "new-password" ,placeholder:"6文字以上",class: "input-default"
            .field
              = f.label :password_confirmation, "パスワード（確認）", class:"form-group-label"
              %span.form-require 必須
              %br/
              = f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder:"6文字以上",class: "input-default"
            .field
              %h3.form-group-label 本人確認
              %p.l__devise__l-single-text 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
              .l__devise__link__white
              = f.submit "次に進む",class: 'btn-default btn-red'
          = f.fields_for :profile, @user.profile do |pf|
            .field
              = pf.label :first_name,"姓（全角）", class:"form-group-label"
              %span.form-require 必須
              %br/
              = pf.text_field :first_name, autofocus: true, autocomplete: "nickname" ,placeholder:"例）山田",class: "input-default"
            .field
              = pf.label :last_name ,"名（全角）", class:"form-group-label"
              %span.form-require 必須
              %br/
              = pf.text_field :last_name, autofocus: true, autocomplete: "nickname" ,placeholder:"例）彩",class: "input-default"
            .field
              = pf.label :first_name_kana ,"姓カナ（全角）", class:"form-group-label"
              %span.form-require 必須
              %br/
              = pf.text_field :first_name_kana, autofocus: true, autocomplete: "nickname" ,placeholder:"例）ヤマダ",class: "input-default"
            .field
              = pf.label :last_name_kana ,"名カナ（全角）", class:"form-group-label"
              %span.form-require 必須
              %br/
              = pf.text_field :last_name_kana, autofocus: true, autocomplete: "nickname" ,placeholder:"例）アヤ",class: "input-default"
            .field
              = f.label :birthday,"生年月日", class:"form-group-label"
              %span.form-require 必須
              %br/
              .birthday-select-wrap
                = raw sprintf(f.date_select(:birthday, use_month_numbers: true,start_year: 1900,end_year:(Time.now.year),include_blank: true,date_separator: '%s'), '年', '月') + '日'
            %p.l__devise__form-info-text ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            .field
              = image_tag 'https://i.gyazo.com/b0d29a0c1794b33b491699e3b36c2c44.png'
            .field
              %p.l-single-text.text-center
                「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
            .l__devise__link__white
              = f.submit "次に進む",class: 'btn-default btn-red'
            .field.text-right
              %p
                本人情報の登録について
                %i.fas.fa-chevron-right
    = render '/devise/shared/footer'
