- if item.like_user(current_user.id)
  = link_to item_like_path(item, item.like_user(current_user)), method: :delete, class: 'heart-icon', remote: true do
    %i.fas.fa-heart
    %span
    いいね!
    %span.crea
      = item.likes.count
- else
  = link_to item_likes_path(item), method: :post, class: 'empty-heart', remote: true do
    %i.far.fa-heart
    %span
    いいね!
    %span.dest
      = item.likes.count
= link_to class: 'icon-right' do
  %i.far.fa-flag
  不適切な商品の報告