%body
  %main.devise__container
    %header.devise__header
      %h1
        %a{:href => "/"}
          %img.img__devise__header{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3160895340"}/
  %main.devise__main
    %section.l__devise__login
      .l__devise__login-no-account
        %p アカウントをお持ちでない方はこちら
        = link_to users_path, class:'l__devise__login-no-account-button' do
          新規会員登録
      .l__devise__inner__login
        .l__devise__link__black
        %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
          %i.fab.fa-facebook-square>
          Facebookで登録
        %button#google-login.btn-default.btn-sns.btn-sns-google
          %i>= embedded_svg("Google.svg", class: "good-svg")
          Googleで登録
      .l__devise__inner__login
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .l__devise__field
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:"メールアドレス",class: "input-default"
          .l__devise__field
            = f.email_field :password, autocomplete: "current-password",placeholder:"パスワード",class: "input-default"
          .l__devise__field
            %img#devise{:src => "https://i.gyazo.com/b0d29a0c1794b33b491699e3b36c2c44.png"}/
          .actions
            = f.submit "ログイン", :class=>'btn btn-info btn-default btn-red'
            - if devise_mapping.rememberable?
              .field
                = f.label :パスワードを忘れた方, :class=>"l__devise__right-text"
  = render partial: "/devise/shared/footer"
