.set-page
  .set-page__first
    商品の情報を入力
  = form_with(model: item, local: true) do |f|
    .set-page__secound
      .set-page__secound__title
        出品画像 
      .set-page__secound__mark
        必須
      .set-page__secound__text
        最大10枚までアップロードできます
        %ul.set-page__secound__preview
          - item.images.each_with_index do |image, index|
            - if image.image.url
              .set-page__secound__preview__list{id: "preview-img-#{index}"}
                .set-page__secound__preview__list__figure
                  = image_tag image.image.url, {class: "set-page__secound__preview__list__figure__image"}
                %div{class: "set-page__secound__preview__list__delete-button" ,data: { preview: index } }
                  削除
          .set-page__secound__form
            = f.fields_for :images do |image|
              %div{class: "set-page__secound__form__text"}
                ドラッグアンドドロップ
                %br/
                またはクリックしてファイルをアップロード
                = image.file_field :image, class: "set-page__secound__form__text__drop", id: "preview-#{image.index}",  data: {preview: image.index}
                = image.hidden_field :image_cache

    .set-page__third
      = f.label :name, "商品名", class: "set-page__third__title"
      .set-page__third__mark
        必須
      .set-page__third__form
        = f.text_field :name, placeholder: "商品名（必須40文字まで）", class: "set-page__third__form__input"
      = f.label :description, "商品の説明", class: "set-page__third__exp-title"
      .set-page__third__mark
        必須
      .set-page__third__text-form
        = f.text_area :description, class: "set-page__third__text-form__input", placeholder: ">商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"

    .set-page__fourth
      = f.label :category_id, "商品の詳細", class: "set-page__fourth__title"
      .set-page__fourth__category
        カテゴリー
      .set-page__fourth__mark
        必須
      .set-page__fourth__box
        .set-page__fourth__box__pull-down
          = f.collection_select( :category_id, @parent_categories, :id, :name ,{prompt: "---", selected: @parent_category_id}, { id: "parent_category_select", class: "set-page__fourth__box__pull-down__select set-page__fourth__box__pull-down__select--parent"} )
          %i.fas.fa-chevron-down.select-arrow--parent#select-arrow
        .set-page__fourth__box__pull-down
          = f.collection_select( :category_id, @child_categories, :id, :name, {prompt: "---", selected: @child_category_id}, {id: "child_category_select", class: "set-page__fourth__box__pull-down__select set-page__fourth__box__pull-down__select--child"})
          %i.fas.fa-chevron-down.select-arrow--child#select-arrow
        .set-page__fourth__box__pull-down
          = f.collection_select( :category_id, @grandchild_categories, :id, :name, {prompt: "---", selected: @grandchild_category_id}, {id: "grandchild_category_select", class: "set-page__fourth__box__pull-down__select set-page__fourth__box__pull-down__select--grandchild"})
          %i.fas.fa-chevron-down.select-arrow--grandchild#select-arrow
      = f.label :size, "サイズ", class: "set-page__fourth__size"
      .set-page__fourth__mark.set-page__fourth__mark--size
        必須
      .set-page__fourth__pull-down.set-page__fourth__pull-down--size
        = f.select( :size, Item.sizes_i18n.invert, {}, id: 'size_select')
        %i.fas.fa-chevron-down#select-arrow

      = f.label :brand, "ブランド", class: "set-page__fourth__brand"
      .set-page__fourth__mark.set-page__fourth__mark--gray
        任意
      .set-page__fourth__pull-down
        = f.text_field :brand, placeholder: "例）シャネル", class: "set-page__fourth__pull-down__input"

      = f.label :condition, "商品の状態", class: "set-page__fourth__condition"
      .set-page__fourth__mark
        必須
      .set-page__fourth__pull-down
        = f.select( :condition, Item.conditions_i18n.invert , {prompt: "---"})
        %i.fas.fa-chevron-down#select-arrow

    .set-page__fifth
      .set-page__fifth__title
        配送について
        .set-page__fifth__title__icon
          = link_to "?","#" , class: 'get'
      = f.label :postage, "配送料の負担", class: "set-page__fifth__fare"
      .set-page__fifth__mark
        必須
      .set-page__fifth__pull-down
        = f.select( :postage, Item.postages_i18n.invert, {prompt: "---"}, id: "postage_select")
        %i.fas.fa-chevron-down#select-arrow

      = f.label :shipping_method, "配送の方法", class: "set-page__fifth__method"
      .set-page__fifth__mark.set-page__fifth__mark--method
        必須
      .set-page__fifth__pull-down2.set-page__fifth__pull-down2--shipping-method
        = f.select( :shipping_method, Item.shipping_methods_i18n.invert, {prompt: "---"}, id: 'shipping_method_select')
        %i.fas.fa-chevron-down#select-arrow

      = f.label :region, "発送元の地域", class: "set-page__fifth__address"
      .set-page__fifth__mark
        必須
      .set-page__fifth__pull-down2
        = f.select( :region, Item.regions_i18n.invert, {prompt: "---"})
        %i.fas.fa-chevron-down#select-arrow
      = f.label :shipping_date, "発送までの日数", class: "set-page__fifth__date"
      .set-page__fifth__mark
        必須
      .set-page__fifth__pull-down2
        = f.select( :shipping_date, Item.shipping_dates_i18n.invert, {prompt: "---"})
        %i.fas.fa-chevron-down#select-arrow

    .set-page__sixth
      .set-page__sixth__box
        .set-page__sixth__box__title
          販売価格
        .set-page__sixth__box__price
          (300〜9,999,999)
        .set-page__sixth__box__icon
          = link_to "?","#" , class: 'get'
      = f.label :price, "価格", class: "set-page__sixth__price"
      .set-page__sixth__mark
        必須
      .set-page__sixth__form
        .set-page__sixth__form__yen
          ¥
        .set-page__sixth__form__box
          = f.text_field :price, placeholder: "例) 300  ", size: "18", class: "set-page__sixth__form__box__input"
      .set-page__sixth__comission
        販売手数料 (10%)
        .set-page__sixth__comission__content
          &= "-"
      .set-page__sixth__profit
        販売利益
        .set-page__sixth__profit__content
          &= "-"
    .set-page__seventh
      .set-page__seventh__text
        %span>= link_to "禁止されている出品、行為","#" , class: 'get'
        を必ずご確認ください。
        %br
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        %span>= link_to "偽ブランドの販売","#" , class: 'get'
        は犯罪であ
        %br
        り処罰される可能性があります。
        %br
        また、出品をもちまして
        %span>= link_to "加盟店規約","#" , class: 'get'
        に同意したことになります。
      = f.submit "出品する", class: "set-page__seventh__button" if controller.action_name == "new"
      = f.submit "変更する", class: "set-page__seventh__button" if controller.action_name == "edit"
      .set-page__seventh__return-button
        = link_to "もどる", :back if controller.action_name == "new"
        = link_to "キャンセル", :back if controller.action_name == "edit"
