.breadcrumbs.solideee
  .breadcrumbs__style
    - breadcrumb :products, @item
    = breadcrumbs separator: " #{content_tag(:i, '', class:'fas fa-chevron-right')} "

.product__details
  %h1.product__details-name
    = @item.name
  .product__details__item
    .product__details__item__image
      .product__details__item__image__big
        .product__d.etails__item__image__big-overflow
          .slider
            - @items.images.each do |img|
              .product__details__item__image__big-overflow-img
                = image_tag img.image.url
      .product__details__item__image-show
        - @items.images.each do |img|
          .product__details__item__image-show__box
            .product__details__item__image-show__box-image
              = image_tag img.image.url
    %table.product__details__item__table
      %tbody.product__details__item__table-t
        %tr
          %th 出品者
          %td
            =link_to @users.nickname, user_profiles_path(@users)
            .like
              .like-good
                %i.fas.fa-laugh
                230
              .like-normal
                %i.fas.fa-meh
                3
              .like-bad
                %i.fas.fa-frown
                1000
        %tr
          %th カテゴリー
          %td.font
            = link_to @theparent.name
            %br
            = link_to do
              %i.fas.fa-chevron-right
              = @child.name
            %br
            = link_to do
              %i.fas.fa-chevron-right
              = @groundchild.name
        %tr
          %th
            ブランド
          %td
            = @item.brand
        %tr
          %th 商品のサイズ
          %td
            - unless @item.size == "unanswered"
              = @item.size
        %tr
          %th 商品の状態
          %td
            = @item.condition_i18n
        %tr
          %th 発送料の負担
          %td
            = @item.postage_i18n
        %tr
          %th 発送の方法
          %td
            = @item.shipping_method_i18n
        %tr
          %th 発送元地域
          %td
            = @item.region_i18n
        %tr
          %th 発送日の目安
          %td
            = @items.shipping_date_i18n
  .product__details__price
    .product__details__price__box
      .product__details__price-en
        = "¥#{@items.price.to_s(:delimited)}"
      .product__details__price-tax
        (税込)
      .product__details__price-cost
        送料込み
  - if @items.buyer_id == nil
    -if user_signed_in? && current_user.id != @items.saler_id
      .product__details__btn
        %button
          =link_to '購入画面に進む',new_item_buy_order_path(@item.id)
  - else
    .product__details__btn-gray
      %button{disabled: "disabled"}売り切れました
  .product__details__text
    %p.product__details__text-inner
      = @item.description
  .product__details__bottom
    .product__details__bottom-left
      = render @item
    .product__details__bottom-right
      = link_to do
        %i.fas.fa-lock
        あんしん・あんぜんへの取り組み
-if @users.id == current_user.try(:id)
  -if @items.buyer_id == nil
    .chang-box
      %button.chang-box__btn-item-red
        = link_to "商品の編集", edit_item_path(@items.id)
      %p.chang-box__text-center
        or
      .wakeru
        = form_tag(stop_item_path(@item.id), method: :patch) do
          - if @item.status == false
            %input{type: "hidden",name: "status", value: 1}
            %button.chang-box__btn-item-gray{type: "submit"}
              出品を停止する
          - elsif @item.status == true
            %input{type: "hidden", name: "status", value: 0}
            %button.chang-box__btn-item-red{type: "submit"}
              出品停止中
      .wakeru2
        %button.chang-box__btn-item__gray
          = link_to 'この商品を削除する', item_path(@item.id), method: :delete

.comment
  .comment__content
    .comment__content__show
      %ul.comment__content__show-list
        -# 買う人のコメント
        %li.comment__content__show-list-left
          = link_to do
            %figure
              .div
                = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png"
              %figcaption name
          .con
            .con-text
              ここにコメントが入る
            .con-bottom
              .con-bottom-time
                %i.far.fa-clock
                74 日前
              .con-bottom-icon
                .delete-comment
                  %i.fas.fa-trash-alt
                %form
                  %button
                    %i.far.fa-flag
        -# %li.comment__content__show-list-left
          = link_to do
            %figure
              .div
                = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png"
              %figcaption name
          .con
            .con-text
              コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント
            .con-bottom
              .con-bottom-time
                %i.far.fa-clock
                74 日前
              .con-bottom-icon
                .delete-comment
                  %i.fas.fa-trash-alt
                %form
                  %button
                    %i.far.fa-flag
        -# 売る人のコメント
        %li.comment__content__show-list-right
          = link_to do
            %figure
          .con
            .con-text
            .con-bottom
              .con-bottom-time
              .con-bottom-icon
    .comment__content__form
      %form.comment__content__form__comment
        %p.comment__content__form__comment-caution
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.comment__content__form__comment-text
        %button.comment__content__form__comment-btn
          コメントする

%main
  .container.backgroundf5f5f5
    .content-mypage-detail
      .social-media-box
        %ul.social-media-box__lists
          %li.social-media-box__lists__icon.social-media-box__lists__icon--facebook
            = link_to "#" do
              %i.fab.fa-facebook-square
          %li.social-media-box__lists__icon.social-media-box__lists__icon--twitter
            = link_to "#" do
              %i.fab.fa-twitter
          %li.social-media-box__lists__icon.social-media-box__lists__icon--line
            = link_to "#" do
              %i.fab.fa-line
      .item-box-container.backgroundf5f5f5
        %h2.item-box-head.padding24px
          この出品者の商品
        .item-box-content
          - @slaer_items.each do |item|
            .item-box.backgroundfff
              = link_to item_path(item.id), class: 'item-box__link' do
                %figure.item-box__link__photo
                  = image_tag item.images[0].image.url
                .item-box__link__body
                  %h2.item-box__link__body__description
                    = item.name
                  .item-box__link__body__number
                    .item-box__link__body__number__price
                      = "¥ #{item.price.to_s(:delimited)}"
                    %i.far.fa-heart
                    %span.item-box__link__body__number__like
                      2
                  .item-box__link__body__tax
                    (税込)