= link_to "/items/#{item_lineup.id}", class: 'get' do
  .secound-section__block__items__item
    .secound-section__block__items__item__image
      -item_lineup.images.first(1).each do |image|
        = image_tag image.image.url
    .secound-section__block__items__item__box  
      .secound-section__block__items__item__box__name
        =item_lineup.name
      .secound-section__block__items__item__box__block
        .secound-section__block__items__item__box__block__price
          ="¥"
          =item_lineup.price.to_s.gsub(/(\d)(?=(\d{3})+(?!\d))/, '\1,')
        %i.far.fa-heart.secound-section__block__items__item__box__block__iine
        .secound-section__block__items__item__box__block__tax-word
          （税込）

= link_to "/items/#{item_lineup.id}", class: 'get' do
  .secound-section__block2__items__item
    .secound-section__block2__items__item__image
      -item_lineup.images.first(1).each do |image|
        = image_tag image.image.url
    .secound-section__block2__items__item__box  
      .secound-section__block2__items__item__box__name
        =item_lineup.name
      .secound-section__block2__items__item__box__block
        .secound-section__block2__items__item__box__block__price
          ="¥"
          =item_lineup.price.to_s.gsub(/(\d)(?=(\d{3})+(?!\d))/, '\1,')
        %i.far.fa-heart.secound-section__block2__items__item__box__block__iine
        .secound-section__block2__items__item__box__block__tax-word
          （税込）

= link_to "/items/#{item_lineup.id}", class: 'get' do
  .secound-section__block3__items__item
    .secound-section__block3__items__item__image
      -item_lineup.images.first(1).each do |image|
        = image_tag image.image.url
    .secound-section__block3__items__item__box  
      .secound-section__block3__items__item__box__name
        =item_lineup.name
      .secound-section__block3__items__item__box__block
        .secound-section__block3__items__item__box__block__price
          ="¥"
          =item_lineup.price.to_s.gsub(/(\d)(?=(\d{3})+(?!\d))/, '\1,')
        %i.far.fa-heart.secound-section__block3__items__item__box__block__iine
        .secound-section__block3__items__item__box__block__tax-word
          （税込）
