!!!
%html
  %head


    %meta{content: "text/html; charset=UTF-8", http: {equiv: "Content-Type"}}/


    %title FreemarketSample51c
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css", rel: "stylesheet"}/
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
    %script{src: "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"}
    :javascript
      $(document).ready(function(){
        $('.slider').bxSlider();
      });
  %body
    .header
      .header__box
        .header__box__top
          .header__box__top__mainicon
            = link_to image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3160895340'), root_path, class: 'get'
          .header__box__top__form
            = form_tag('/items', method: :post) do
              .header__box__top__form__tag
                %input.header__box__top__form__tag__main{name: "text", placeholder: "何かお探しですか？", size: "88"}/
                %button.header__box__top__form__submit{type: "submit"}
                  %i.fas.fa-search
        .header__box__bottom
          .header__box__bottom__futoji
            %a{href: "", style: "text-decoration:none"}
              %i.fas.fa-list-ul.header__box__bottom__futoji__icon
              カテゴリーから探す
          .header__box__bottom__futoji
            %a{href: "", style: "text-decoration:none"}
              %i.fas.fa-tag.header__box__bottom__futoji__icon
              ブランドから探す
          - if user_signed_in?
            .header__box__bottom__hosoji
              .header__box__bottom__hosoji__bottan
                %a{href: ""}
                  %i.far.fa-bell.header__box__bottom__hosoji__bottan__icon
                  .header__box__bottom__hosoji__bottan__font
                    お知らせ
              .header__box__bottom__hosoji__bottan
                %a{href: ""}
                  %i.fas.fa-check.header__box__bottom__hosoji__bottan__icon
                  .header__box__bottom__hosoji__bottan__font
                    やることリスト
              .header__box__bottom__hosoji__bottan
                %a{href: ""}
                  %img.header__box__bottom__hosoji__bottan__mypage{alt: "マイページ", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
                  .header__box__bottom__hosoji__bottan__font
                    マイページ
          - else
            .header__box__bottom__button
              .header__box__bottom__button__new
                = link_to "新規会員登録",new_user_registration_path, class: 'get', style: "text-decoration:none"
              .header__box__bottom__button__signin
                = link_to "ログイン",new_user_session_path , class: 'get', style: "text-decoration:none"
    = yield
    .footer
      .footer__top
        .footer__top__text
          .footer__top__text__small スマホでかんたんフリマアプリ
          .footer__top__text__big 今すぐ無料ダウンロード！
        .footer__top__logo
          %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?3160895340", width: "68"}/
        .footer__top__app
          = link_to image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1204800476'), 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class: 'get'
        .footer__top__google
          = link_to image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1204800476'), 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class: 'get'
        .footer__top__phone
          %img{height: "260", src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?3160895340", width: "300"}/
      .footer__bottom
        .footer__bottom__company
          %h1
            メルカリについて
          %ul
            %li
              = link_to "会社概要（運営会社）","" , class: 'get'
            %li
              = link_to "採用情報","" , class: 'get'
            %li
              = link_to "プレスリリース","" , class: 'get'
            %li
              = link_to "公式ブログ","" , class: 'get'
            %li
              = link_to "メルカリロゴ用ガイドライン","" , class: 'get'
        .footer__bottom__guide
          %h1
            ヘルプ＆ガイド
          %ul
            %li
              = link_to "メルカリガイド","" , class: 'get'
            %li
              = link_to "らくらくメルカリ便","" , class: 'get'
            %li
              = link_to "ゆうゆうメルカリ便","" , class: 'get'
            %li
              = link_to "大型メルカリ便","" , class: 'get'
            %li
              = link_to "車体取引便","" , class: 'get'
            %li
              = link_to "メルカリあんしん・あんぜん宣言！","" , class: 'get'
            %li
              = link_to "偽ブランド品撲滅への取り組み","" , class: 'get'
            %li
              = link_to "メルカリボックス","" , class: 'get'
        .footer__bottom__privacy
          %h1
            プライバシーと利用規約
          %ul
            %li
              = link_to "プライバシーポリシー","" , class: 'get'
            %li
              = link_to "メルカリ利用規約","" , class: 'get'
            %li
              = link_to raw("あんしんスマホサポート制度に関<br>する利用特約"),"" , class: 'get'
            %li
              = link_to "コンプライアンスポリシー","" , class: 'get'
        .footer__bottom__data
          %ul
            %li
              = link_to raw("個人データの安全管理に係る基本<br>方針"),"" , class: 'get'
            %li
              = link_to "特定商取引に関する表記","" , class: 'get'
            %li
              = link_to "資金決済法に基づく表示","" , class: 'get'
            %li
              = link_to "法令順守と犯罪抑止のために","" , class: 'get'
            %li
              = link_to "返品・返金ポリシー","" , class: 'get'
        .footer__bottom__country
          %h1
            国
          %ul
            %li
              = link_to "日本","" , class: 'get'
            %li
              = link_to "United States","" , class: 'get'
        %a{href: "https://twitter.com/mercari_jp"}
          %i.fab.fa-twitter.footer__bottom__tw-icon
        %a{alt: "フェイスブック", href: "https://www.facebook.com/mercarijp"}
          %i.fab.fa-facebook-square.footer__bottom__fb-icon
        .footer__bottom__logo
          = link_to image_tag('//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?3160895340'), root_path, class: 'get',width:"124",height:"33"
        .footer__bottom__log
          © 2019 Mercari
        %a{href: "new_item_path"}
          .camera
            .camera__font
              出品
            .camera__icon
              %i.fa.fa-camera
        %div

